/* This stylesheet is used to style the admin option form of the plugin. */

#poststuff h2{
    padding: 1px 2px 0px 0px;
}

p#footer-left img{
  vertical-align: middle;
  margin-right:10px;
}

